@using MovieApp.Web.Enums

@if (Media.Media_Type == MediaType.Movie)
{
    <div class="col-sm-2 mb-3">
        <a href="@Media.Url">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@GetImagePath()" />
                <div class="card-body">
                    <p class="card-text text-center">@Media.DisplayNameOrTitle() (@(!string.IsNullOrEmpty(Media.Release_Date) ? DateTime.Parse(Media.Release_Date).Year.ToString() : DateTime.MinValue.ToShortDateString()))</p>
                </div>
            </div>
        </a>
    </div>
}

@if (Media.Media_Type == MediaType.TV)
{
    <div class="col-sm-2 mb-3">
        <a href="@Media.Url">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@GetImagePath()" />
                <div class="card-body">
                    <p class="card-text text-center">@Media.DisplayNameOrTitle() (@(!string.IsNullOrEmpty(Media.First_Air_Date) ? DateTime.Parse(Media.First_Air_Date).Year.ToString() : DateTime.MinValue.ToShortDateString()))</p>
                </div>
            </div>
        </a>
    </div>
}

@if (Media.Media_Type == MediaType.Person)
{
    <div class="col-sm-2 mb-3">
        <a href="@Media.Url">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@GetImagePath()" />
                <div class="card-body">
                    <p class="card-text text-center">@Media.DisplayNameOrTitle()</p>
                </div>
            </div>
        </a>
    </div>
}