@using MovieApp.Web.Enums

@if (Media.Media_Type == MediaType.Movie)
{
    <a href="@Media.Url">
        <li class="list-group-item d-flex justify-content-between align-items-center mb-3 rounded" id="search-list-item">
            @Media.DisplayNameOrTitle() (@DisplayFirstAirOrReleaseYear())
            <div class="image-wrapper">
                <img src="@GetImagePath()" class="img-fluid rounded" />
            </div>
        </li>
    </a>
}

@if (Media.Media_Type == MediaType.TV)
{
    <a href="@Media.Url">
        <li class="list-group-item d-flex justify-content-between align-items-center mb-3 rounded" id="search-list-item">
            @Media.DisplayNameOrTitle() (@DisplayFirstAirOrReleaseYear())
            <div class="image-wrapper">
                <img src="@GetImagePath()" class="img-fluid rounded" />
            </div>
        </li>
    </a>
}

@if (Media.Media_Type == MediaType.Person)
{
    <a href="@Media.Url">
        <li class="list-group-item d-flex justify-content-between align-items-center mb-3 rounded" id="search-list-item">
            @Media.DisplayNameOrTitle()
            <div class="image-wrapper">
                <img src="@GetImagePath()" class="img-fluid rounded" />
            </div>
        </li>
    </a>
} 