@page "/"

<div id="home">
    <h1>Home</h1>
    <hr />
    <div class="row">
        <div class="col">
            @if (!string.IsNullOrEmpty(SearchState.SearchQuery))
            {
                <MediaTable Results="@SearchState.SearchResults.Results"
                            SearchQuery="@SearchState.SearchQuery"
                            CurrentPage="@SearchState.SearchResults.Page"
                            TotalPages="@SearchState.SearchResults.Total_Pages"
                            TotalResults="@SearchState.SearchResults.Total_Results"
                            OnCurrentPageChanged="CurrentPageChanged" />
            }
            else
            {
                <UpcomingMovies HeaderText="Upcoming Movies" />
                <OnTheAirTV HeaderText="On The Air TV Shows" />
                <PopularPeople HeaderText="Popular People" />
            }
        </div>
    </div>
</div>