<div id="recently-viewed">
    <h3>Recently Viewed</h3>
    @if (DisplayMessage)
    {
        <p>@Message</p>
    }
    else
    {
        <button class="btn btn-orange rv-clear" @onclick="HandleClearBtnClick">Clear</button>
        <div class="row flex-row flex-nowrap overflow-auto">
            @foreach (var movie in Movies)
            {
                <div class="col-sm-2 mb-3">
                    <a href="@($"/movie/{movie.Id}")">
                        <div class="card card-block h-100">
                            <img class="card-img-top img-fluid" src="@movie.Poster_Path" />
                        </div>
                    </a>
                </div>
            }
            @foreach (var tvShow in TVShows)
            {
                <div class="col-sm-2 mb-3">
                    <a href="@($"/tv-shows/{tvShow.Id}")">
                        <div class="card card-block h-100">
                            <img class="card-img-top img-fluid" src="@tvShow.Poster_Path" />
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>