@page "/movie/{id}" 

<div id="movie-details">
    <div class="card">
        <img class="card-img-top" src="@Movie.ImageUrl">
        <div class="card-body">
            <h5 class="card-title mb-3">Title</h5>
            <p class="card-text">@Movie.Title</p>
            <h5 class="card-title">Release</h5>
            <p class="card-text">@Movie.Release_Date</p>
            <h5 class="card-title">Rating</h5>
            <p class="card-text">@Movie.Vote_Average</p>
            <h5 class="card-title">Genres</h5>
            @foreach (var genre in Movie.Genres)
            {
                <p class="card-text">@genre.Name</p>
            }
        </div>
    </div>
</div>