@page "/movie/{id}" 

<div id="movie-details">
    <div class="row">
        <div class="col-md-6">
        <div class="card card-block h-100">
            <img class="card-img-top img-fluid" src="@Movie.Poster_Path">
        </div>
        </div>
        <div class="col-md-6">
            <div class="card card-block h-100">
                <div class="card-body">
                    <h5 class="card-title mb-3">Title</h5>
                    <p class="card-text">@Movie.Title</p>
                    <h5 class="card-title">Tagline</h5>
                    <p class="card-text">@Movie.Tagline</p>
                    <h5 class="card-title">Overview</h5>
                    <p class="card-text">@Movie.Overview</p>
                    <h5 class="card-title">Runtime</h5>
                    <p class="card-text">@Movie.Runtime min</p>
                    <h5 class="card-title">Release</h5>
                    <p class="card-text">@Movie.Release_Date</p>
                    <h5 class="card-title">Language</h5>
                    <p class="card-text">@Movie.Original_Language</p>
                    <h5 class="card-title">Rating</h5>
                    <p class="card-text">@Movie.Vote_Average</p>
                    <h5 class="card-title">Genres</h5>
                    @foreach (var genre in Movie.Genres)
                    {
                        <p class="card-text">@genre.Name</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="cast">
        <h3 class="mt-3">Cast</h3>
        <hr />
        @if (Cast == null || !Cast.Any())
        {
            <p>Sorry, we could not find any cast.</p>
        }
        else
        {
            <div class="row flex-row flex-nowrap overflow-auto">
                @foreach (var person in Cast)
                {
                    <DisplayPerson Person="@person" ShowCharacter="true" />
                }
            </div>
        }
    </div>
    <div id="similar">
        <h3 class="mt-3">Similar</h3>
        <hr />
        @if (SimilarMovies == null || !SimilarMovies.Any())
        {
            <p>Sorry, we could not find any similar movies.</p>
        }
        else
        {
            <div class="row flex-row flex-nowrap overflow-auto">
                @foreach (var movie in SimilarMovies)
                {
                    <DisplayMovie Movie="@movie" />
                }
            </div>
        }
    </div>
</div>