<div id="recommendations-genre" class="mt-3">
    <p class="mb-1">Genre</p>
    <select class="form-select form-select-sm" @onchange="@(async (e) => await OnGenreSelection.InvokeAsync(e.Value.ToString()))">
        <option value="0" selected>Genre</option>
        @if (ShowMovieOptions)
        {
            @foreach (var option in MovieGenreOptions)
            {
                <option value="@option.Id">@option.Name</option>
            }
        }
        else if (ShowTVOptions)
        {
            @foreach (var option in TVGenreOptions)
            {
                <option value="@option.Id">@option.Name</option>
            }
        }
    </select>
</div>