@page "/recommendations/movie"

<div id="recommendations-movie">
    <h1>Movie Recommendations</h1>
    <hr />
    <div id="recommendations-filter">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header">Filter</h5>
                    <div class="card-body">
                        <SortingSelect OnSortSelection="HandleSortSelection" ShowMovieOptions="true" />
                        <YearSelect OnYearSelection="HandleYearSelection" StartYear="1900" YearCount="129" />
                        <GenreSwitch ShowMovieOptions="true" OnGenreSelection="HandleGenreSelection" />
                        <SearchActor OnActorSelected="HandleActorSelection" />
                        @if (SelectedActors.Count() is not 0)
                        {
                            @foreach (var actor in SelectedActors)
                            {
                                <span class="badge" @onclick="@(() => SelectedActors.Remove(actor))">@actor.Name</span>
                            }
                        }
                        <SearchKeyword OnKeywordSelected="HandleKeywordSelection" />
                        @if (SelectedKeywords.Count() is not 0)
                        {
                            @foreach (var keyword in SelectedKeywords)
                            {
                                <span class="badge" @onclick="@(() => SelectedKeywords.Remove(keyword))">@keyword.Name</span>
                            }
                        }
                        <button style="width: 100%" class="btn btn-lg mt-3" @onclick="HandleButtonClick">Recommend</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row flex-row">
                    @if (Results.Count() is not 0)
                    {
                        @foreach (var movie in Results)
                        {
                            <DisplayMovie Movie="movie" />
                        }
                        <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
                    }
                    else
                    {
                        <div class="text-center">
                            <h5>No recommendations could be found, try again.</h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div> 