@using MovieApp.Web.Models 

<div id="search-actor" class="mt-3">
    <p class="mb-1">Actor</p>
    <BlazoredTypeahead SearchMethod="@SearchActors"
                       TValue="Person"
                       TItem="Person"
                       Value="@SelectedActor"
                       ValueChanged="HandleActorSelection"
                       ValueExpression="@(() => SelectedActor)"
                       Debounce="500"
                       DisableClear="true"
                       placeholder="Search actor...">
        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>
</div>