@using MovieApp.Web.Models

<div id="search-actor" class="mt-3">
    <p class="mb-1">Keyword</p>
    <BlazoredTypeahead SearchMethod="@SearchKeywords"
                       TValue="Keyword"
                       TItem="Keyword"
                       Value="@SelectedKeyword"
                       ValueChanged="HandleKeywordSelection"
                       ValueExpression="@(() => SelectedKeyword)"
                       Debounce="500"
                       DisableClear="true"
                       placeholder="Search keyword...">
        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>
</div>