@using MovieApp.Web.Models

<div id="search-director" class="mt-3">
    <p class="mb-1">Director</p>
    <BlazoredTypeahead SearchMethod="@SearchDirectors"
                       TValue="Person"
                       TItem="Person"
                       Value="@SelectedDirector"
                       ValueChanged="HandleDirectorSelection"
                       ValueExpression="@(() => SelectedDirector)"
                       Debounce="500"
                       DisableClear="true"
                       placeholder="Search director...">
        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, there weren't any search results.
        </NotFoundTemplate>
    </BlazoredTypeahead>
</div>