@page "/lists/create/{userId}" 

<div id="create-list">
    <h3 class="mb-3">New List</h3>
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@CreateListModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="text-muted">Name</label>
                    <InputText type="text" class="form-control" @bind-Value="@CreateListModel.Name" />
                    <ValidationMessage For="@(() => CreateListModel.Name)" />
                </div>
                <div class="form-group">
                    <label class="text-muted">Description</label>
                    <InputTextArea type="text" class="form-control" @bind-Value="@CreateListModel.Description" rows="7" cols="50" />
                    <ValidationMessage For="@(() => CreateListModel.Description)" />
                </div>
                <div class="form-group">

                </div>
                <button type="submit" class="btn btn-create">
                    @if (DisplayLoadingSpinner)
                    {
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                    }
                    Save
                </button>
                <a class="btn btn-cancel" href="@($"/user/profile/{UserId}")">Cancel</a>
            </EditForm>
        </div>
    </div>
</div>