<div id="edit-list">
    <EditForm Model="@EditListModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="text-muted">Name</label>
            <InputText type="text" class="form-control" @bind-Value="@EditListModel.Name" />
            <ValidationMessage For="@(() => EditListModel.Name)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Description</label>
            <InputTextArea type="text" class="form-control" @bind-Value="@EditListModel.Description" rows="7" cols="50" />
            <ValidationMessage For="@(() => EditListModel.Description)" />
        </div>
        <button type="submit" class="btn btn-edit">
            @if (DisplayLoadingSpinner)
            {
                <span class="spinner-border spinner-border-sm" role="status"></span>
            }
            Save
        </button>
        <button class="btn btn-cancel" @onclick="HandleCancelAsync">Cancel</button>
    </EditForm>
</div>