@page "/lists/{userId}"

<div id="lists">
    <h3 class="mb-3">Your lists</h3>
    <button class="btn btn-orange mb-3" @onclick="HandleCreateListBtnClick">New List</button>
    @if (Lists.Count() is not 0)
    {
        <div class="row">
            <div class="col-md-8">
                @foreach (var list in Lists)
                {
                    <div class="list-group">
                        <a href="@($"/lists/{User.Id}/{list.Id}")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@list.Name</h5>
                                <small>@list.Created.ToShortDateString()</small>
                            </div>
                            <p class="mb-1">@list.Description</p>
                            <small>Created by @User.FirstName @User.LastName</small>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <p class="mt-3">You have not created any lists yet.</p>
    }
</div>