@page "/lists/{userId}/{movieListId}"

<div id="list-details">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <small>Created by @User.FirstName @User.LastName</small>
                    <h3 class="mb-3 mt-2">@List.Name</h3>
                    <p class="my-3">@List.Description</p>
                    <button class="btn btn-orange" @onclick="HandleEditBtnClick">Edit</button>
                    <button class="btn btn-dark" @onclick="HandleDeleteBtnClick">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            @if (Movies.Count() is not 0)
            {
                <div class="row flex-row">
                    @foreach (var movie in Movies)
                    {
                        <div class="col-sm-2 mb-3">
                            <a href="@($"/movie/{movie.Id}")">
                                <div class="card card-block h-100">
                                    <img class="card-img-top img-fluid" src="@movie.Poster_Path" />
                                    <div class="card-body">
                                        <p class="card-text text-center">@movie.Title (@(!string.IsNullOrEmpty(movie.Release_Date) ? DateTime.Parse(movie.Release_Date).Year.ToString() : DateTime.MinValue.ToShortDateString()))</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>There is no movies in this list.</p>
            }
        </div>
    </div>
</div>