<div id="create-user-list">
    @if (DisplayMessage)
    {
        <p class="text-danger">@Message</p>
    }
    <EditForm Model="@CreateListModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="text-muted">Name</label>
            <InputText type="text" class="form-control" @bind-Value="@CreateListModel.Name" />
            <ValidationMessage For="@(() => CreateListModel.Name)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Description</label>
            <InputText type="text" class="form-control" @bind-Value="@CreateListModel.Description" />
            <ValidationMessage For="@(() => CreateListModel.Description)" />
        </div>
        <button type="submit" class="btn btn-create">
            @if (DisplayLoadingSpinner)
            {
                <span class="spinner-border spinner-border-sm" role="status"></span>
            }
            Create
        </button>
        <button class="btn btn-cancel" @onclick="HandleCancelModal">Cancel</button>
    </EditForm>
</div>