@page "/user/edit/{userId}" 

<div id="edit-user">
    <h3 class="mb-3">Edit User</h3>
    <div class="row">
        <div class="col-md-8">
            <EditForm Model="@EditModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="text-muted">Username</label>
                    <InputText type="text" class="form-control" @bind-Value="@EditModel.Username" />
                    <ValidationMessage For="@(() => EditModel.Username)" />
                </div>
                <div class="form-group">
                    <label class="text-muted">Email</label>
                    <InputText type="text" class="form-control" @bind-Value="@EditModel.Email" />
                    <ValidationMessage For="@(() => EditModel.Email)" />
                </div>
                <div class="form-group">
                    <label class="text-muted">First Name</label>
                    <InputText type="text" class="form-control" @bind-Value="@EditModel.FirstName" />
                    <ValidationMessage For="@(() => EditModel.FirstName)" />
                </div>
                <div class="form-group">
                    <label class="text-muted">Last Name</label>
                    <InputText type="text" class="form-control" @bind-Value="@EditModel.LastName" />
                    <ValidationMessage For="@(() => EditModel.LastName)" />
                </div>
                <div class="form-group">
                    <label class="text-muted">Location</label>
                    <InputText type="text" class="form-control" @bind-Value="@EditModel.Location" />
                    <ValidationMessage For="@(() => EditModel.Location)" />
                </div>
                <button type="submit" class="btn btn-edit">
                    @if (DisplayLoadingSpinner)
                    {
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                    }
                    Save
                </button>
                <a href="@($"/user/profile/{UserId}")" class="btn btn-cancel">Cancel</a>
            </EditForm>
        </div>
    </div>
</div>