<div id="login-user">
    @if (DisplayMessage)
    {
        <p class="text-danger">@Message</p>
    }
    <EditForm Model="@LoginModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="text-muted">Email</label>
            <InputText class="form-control" @bind-Value="@LoginModel.Email" />
            <ValidationMessage For="@(() => LoginModel.Email)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Password</label>
            <InputText type="password" class="form-control" @bind-Value="@LoginModel.Password" />
            <ValidationMessage For="@(() => LoginModel.Password)" />
        </div>
        <button type="submit" class="btn btn-login">
            @if (DisplayLoadingSpinner)
            {
                <span class="spinner-border spinner-border-sm" role="status"></span>
            }
            Login
        </button>
        <button class="btn btn-cancel" @onclick="HandleCancelModal">Cancel</button>
    </EditForm>
</div>