<div id="register-user">
    @if (DisplayMessage)
    {
        <p class="text-danger">@Message</p>
    }
    <EditForm Model="@RegisterModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="text-muted">Username</label>
            <InputText class="form-control" @bind-Value="@RegisterModel.Username" />
            <ValidationMessage For="@(() => RegisterModel.Username)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Email</label>
            <InputText class="form-control" @bind-Value="@RegisterModel.Email" />
            <ValidationMessage For="@(() => RegisterModel.Email)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Password</label>
            <InputText type="password" class="form-control" @bind-Value="@RegisterModel.Password" />
            <ValidationMessage For="@(() => RegisterModel.Password)" />
        </div>
        <div class="form-group">
            <label class="text-muted">Confirm password</label>
            <InputText type="password" class="form-control" @bind-Value="@RegisterModel.ConfirmPassword" />
            <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
        </div>
        <button type="submit" class="btn btn-register">
            @if (DisplayLoadingSpinner)
            {
                <span class="spinner-border spinner-border-sm" role="status"></span>
            }
            Register
        </button>
        <button class="btn btn-cancel" @onclick="HandleCancelModal">Cancel</button>
    </EditForm>
</div>