<div id="user-favorite-list">
    <h3 class="mb-3 pt-3">Favorites</h3>
    <div class="row flex-row flex-nowrap overflow-auto">
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mb-3">
            <div class="card card-block h-100">
                <img class="card-img-top img-fluid" src="@PlaceholderImageUrl" />
                <div class="card-body">
                    <p class="card-text text-center">Sample Title</p>
                </div>
            </div>
        </div>
    </div>
</div>