@page "/person/{id}"

<div id="person-details">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top img-fluid" src="@Person.ImageUrl">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Name</h5>
                    <p class="card-text">@Person.Name</p>
                    <h5 class="card-title mb-3">Known for</h5>
                    <p class="card-text">@Person.Known_For_Department</p>
                    <h5 class="card-title">Biography</h5>
                    <p class="card-text">@Person.Biography</p>
                    <h5 class="card-title">Birthday</h5>
                    <p class="card-text">@Person.Birthday</p>
                    <h5 class="card-title">Born</h5>
                    <p class="card-text">@Person.Place_Of_Birth</p>
                </div>
            </div>
        </div>
    </div>
</div>