<div id="people-popular">
    <h3 class="mb-3">@HeaderText</h3>
    <div class="row">
        @foreach (var person in Results)
        {
            <DisplayPerson Person="person" />
        }
    </div>
    <p>Page @Page of @TotalPages</p>
    <nav>
        <ul class="pagination">
            @if (Page > 1)
            {
                <li class="page-item" @onclick="@(() => SetPage(Page - 1))">
                    <a class="page-link">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled" @onclick="@(() => SetPage(Page - 1))">
                    <a class="page-link">Previous</a>
                </li>
            }

            @if (Page < TotalPages)
            {
                <li class="page-item" @onclick="@(() => SetPage(Page + 1))">
                    <a class="page-link">Next</a>
                </li>
            }
            else
            {
                <li class="page-item disabled" @onclick="@(() => SetPage(Page + 1))">
                    <a class="page-link">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>